@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=Grandiflora+One&family=Lato:wght@300&family=Oswald:wght@300&family=PT+Sans&family=Poppins:wght@500&display=swap');

* {
    margin: 0px;
    padding: 1px;
    border: 1px;
}

body {
    font-family: Oswald, sans-serif;
    font-weight: 200;
    color: black;
    background-color: black;
}


/* headings and logo */

title{
    color: white;
    font-family: dancing script, Helvetica;
}

h1 {
    font-family: dancing script, Helvetica;
    font-size: 36px;
    color: white;
}

h2 {
    font-family: Poppins, Arial;
    letter-spacing: 2px;
    color: black;
    font-size: 2vmax;
}

#logo {
    display: flex;
    height: 90px;
    width: auto;
    margin: 1%;

}

p{
    color: white;
    font-size: 16px;
}

/* Nav links */

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    background-color: white;
}

#menu {
    font-size: 180%;
    margin-top: 15px;
    letter-spacing: 2px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

#menu li {
    list-style-type: none;
    display: inline-block;
    margin-right: 15px;
    margin-top: 12px;
    white-space: nowrap;
}

#menu li a {
    text-decoration: none;
    color: black;
}

ul li {
    transition: transform 0.75s;
}

ul li:hover {
    transform: scale(1.12);
    font-weight: bold;
}

/* Section 1, bio */

#bio {
    background-color: black;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

#profile-photo img {
    width: 60%;
    margin: 10%;
    border: 3px solid rgb(255, 255, 255);
}

#bio-line {
    font-size: 120%;
    padding-top: 4%;
    width: 60%;
    margin: 2px;
    background-color: black;
    color: white;
}

/* footer */

footer {
    background: white;
    display: flex;
    justify-content: center;
}

#instagram,
#facebook,
#contact {
    display: inline-block;
    justify-content: center;
    margin-top: 1%;
    margin-bottom: 2%;
}

#instagram {
    width: 40px;
    height: 40px;
    padding: 10px;
}

#facebook {
    
    width: 40px;
    height: 40px;
    padding: 10px;
}

#contact {
   
    width: 39px;
    height: 39px;
    padding: 10px;
}

#instagram_img {
    width: 40px;
    height: 40px;
    padding: 10px;
}

#facebook_img {
    
    width: 40px;
    height: 40px;
    padding: 10px;
}

#contact_img {
   
    width: 39px;
    height: 39px;
    padding: 10px;
}



/* music gallery page */

#music-gallery {
    padding-top: 3%;
    padding-bottom: 1%;
    padding-left: 0.5%;
    padding-right: 0.5%;
}

#music-gallery img {
    justify-content: space-around;
    width: 33%;
}

#music-gallery img:hover {
    transform: scale(1.2);
}

#music-about {
    font-size: small;
    border: 2px;
    padding: 1.5%;
}

/* Portrait Gallery */

#portrait-gallery {
    padding-top: 3%;
    padding-bottom: 1%;
    padding-left: 0.5%;
    padding-right: 0.5%;
}

#portrait-gallery img {
    justify-content: space-around;
    width: 33%;
}

#portrait-gallery img:hover {
    transform: scale(1.2);
}

#portrait-about {
    font-size: small;
    border: 2px;
    padding: 1.5%;
}

/* Circus Gallery */

#circus-gallery {
    padding-top: 3%;
    padding-bottom: 1%;
    padding-left: 0.5%;
    padding-right: 0.5%;
}

#circus-gallery img {
    justify-content: space-around;
    width: 33%;
}

#circus-gallery img:hover {
    transform: scale(1.2);
}

#circus-about {
    font-size: small;
    border: 2px;
    padding: 1.5%;
}

/* contact form */
form {
    width: 50%;
    margin: 0 auto;
    margin-top: 2%;
    padding: 20px;
    font-size: 18px;
    background-color: #f2f2f2;
    border-radius: 8px;
}

label {
    color: black;
    /* Set the font color to black */
    display: block;
    margin-top: 10px;
}

input[type="text"],
textarea {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
    color: black;
    /* Set the font color to black */
}

input[type="submit"] {
    margin-top: 10px;
    padding: 10px 20px;
    font-size: 16px;
    background-color: #4caf50;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #45a049;
}

/* thank you page */

/* thank you page */

#thank-you-images {
    display: flex;
    justify-content: center;
    margin: 20px;
    padding: 10px;
  }
  
  #thank-you-images a {
    width: 33.33%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  #thank-you-images img {
    width: 75%;
    height: 100%;
    display: block;
    border-radius: 50%;
    object-fit: cover;
    border: 4px solid white;
    overflow: hidden; 
  }
  
  #thank-you-images p {
    font-size: 48px;
    text-align: center;
    margin: 10px;
  }
  

/* media-queries */


@media (max-width: 1200px) {
    #profile-photo img {
        width: 60%;
    }
}

@media (max-width: 992px) {
    #profile-photo img {
        width: 70%;
    }
}

@media (max-width: 768px) {
    #profile-photo img {
        width: 80%;
    }
}

@media (max-width: 576px) {
    #profile-photo img {
        width: 90%;
    }

    #music-gallery img,
    #portrait-gallery img,
    #circus-gallery img {
        width: 100%;
    }

    form {
        width: 80%;
    }
}