@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=Grandiflora+One&family=Lato:wght@300&family=Oswald:wght@300&family=PT+Sans&family=Poppins:wght@500&display=swap');

* {
    margin: 0px;
    padding: 1px;
    border: 1px;
}

body {
    font-family: Oswald, sans-serif;
    font-weight: 200;
    font-color: black;
}

/* headings and logo */

h1 {
    font-family: dancing script, Helvetica;
    font-size: 400%;
    font-weight: 300;
    font-color: slategrey;
}

h2 {
    font-family: Poppins, Arial;
    letter-spacing: 2px;
    color: black;
}

#logo {
    display: flex;
    height: 90px;
    width: auto;
    margin: 1%;
    
}

/* Nav links */

header {
    display: flex;
    justify-content: space-between;
}

#menu {
    font-size: 180%;
    margin-top: 15px;
    letter-spacing: 2px;
    display: flex;
    justify-content: space-between;
}

#menu #logo {
    line-height: 150px;
}

#menu li {
    list-style-type: none;
    display: inline-block;
    margin-right: 15px;
    margin-top: 12px;
}

#menu li a {
    text-decoration: none;
    color: black;
}

ul li {
    transition: transform 0.75s;
}

ul li:hover {
    transform: scale(1.12);
    font-weight: bold;
}

/* Section 1, bio */

#bio {
    height: 300px;
    background-color: black;
}

#profile-photo img {
    width: 20%;
    margin: 16px;
    border: 3px solid black;
    display: flex;
    justify-content: center;
}

#bio-line {
    float: right;
    font-size: 120%;
    padding-top: 10px;
    padding-left: 20px;
    width: 60%;
    margin: 2px;
    background-color: black;
    color: white;
}

/* footer */

#footer {
    display: inline-block;
    justify-content: space-between;
    background-color: grey;
}

#instagram,
#facebook,
#contact {
    display: inline-block;
    justify-content: center;
    margin-top: 2%;
    margin-bottom: 2%;
    margin-right: 35px;
}

#instagram {
    width: 40px;
    height: 40px;
}

#facebook {
    width: 40px;
    height: 40px;

}

#contact {
    width: 39px;
    height: 39px;
}

/* music gallery page */

#music-gallery {
    image-rendering: optimizeSpeed;
}

#music-gallery img {
    width: 33%;
}