@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=Grandiflora+One&family=Lato:wght@300&family=Oswald:wght@300&family=PT+Sans&family=Poppins:wght@500&display=swap');

* {
    margin: 0px;
    padding: 1px;
    border: 1px;
}

body {
    font-family: Oswald, sans-serif;
    font-weight: 200;
    font-color: black;
    background-color: black;
}

/* headings and logo */

h1 {
    font-family: dancing script, Helvetica;
    font-size: 400%;
    font-weight: 300;
    font-color: slategrey;
}

h2 {
    font-family: Poppins, Arial;
    letter-spacing: 2px;
    color: black;
}

#logo {
    display: flex;
    height: 90px;
    width: auto;
    margin: 1%;

}

/* Nav links */

header {
    display: flex;
    justify-content: space-between;
    background-color: white;
}

#menu {
    font-size: 180%;
    margin-top: 15px;
    letter-spacing: 2px;
    display: flex;
    justify-content: space-between;
}

#menu #logo {
    line-height: 150px;
}

#menu li {
    list-style-type: none;
    display: inline-block;
    margin-right: 15px;
    margin-top: 12px;
}

#menu li a {
    text-decoration: none;
    color: black;
}

ul li {
    transition: transform 0.75s;
}

ul li:hover {
    transform: scale(1.12);
    font-weight: bold;
}

/* Section 1, bio */

#bio {
    height: 300px;
    background-color: black;
    align-items: center;
}

#profile-photo img {
    width: 20%;
    margin: 16px;
    border: 3px solid black;
    display: flex;
}

#bio-line {
    font-size: 120%;
    padding-top: 10px;
    padding-left: 20px;
    width: 60%;
    margin: 2px;
    background-color: black;
    color: white;
}

/* footer */

footer {
    background: white;
    display: inline-block;
    justify-content: space-between;
}

#instagram,
#facebook,
#contact {
    display: inline-block;
    justify-content: center;
    margin-top: 1%;
    margin-bottom: 2%;
    margin-right: 35px;
}

#instagram {
    width: 40px;
    height: 40px;
}

#facebook {
    width: 40px;
    height: 40px;
}

#contact {
    width: 39px;
    height: 39px;
}

/* music gallery page */

#music-gallery {

    image-rendering: optimizeSpeed;
    padding-top: 3%;
    padding-bottom: 1%;
    padding-left: 0.5%;
    padding-right: 0.5%;
}

#music-gallery img {
    justify-content: space-around;
    width: 33%;
}

#music-gallery img:hover {
    transform: scale(1.2);
}

#music-about {
    font-size: small;
    font-weight: 900%;
    border: 2px;
    padding: 1.5%;
}

/* Portrait Gallery */

#portrait-gallery {

    image-rendering: optimizeSpeed;
    padding-top: 3%;
    padding-bottom: 1%;
    padding-left: 0.5%;
    padding-right: 0.5%;
}

#portrait-gallery img {
    justify-content: space-around;
    width: 33%;
}

#portrait-gallery img:hover {
    transform: scale(1.2);
}

#portrait-about {
    font-size: small;
    font-weight: 900%;
    border: 2px;
    padding: 1.5%;
}

/* Circus Gallery */

#circus-gallery {

    image-rendering: optimizeSpeed;
    padding-top: 3%;
    padding-bottom: 1%;
    padding-left: 0.5%;
    padding-right: 0.5%;
}

#circus-gallery img {
    justify-content: space-around;
    width: 33%;
}

#circus-gallery img:hover {
    transform: scale(1.2);
}

#circus-about {
    font-size: small;
    font-weight: 900%;
    border: 2px;
    padding: 1.5%;
}

/*form */
form {
        width: 50%;
        height: auto;
        margin: 0 auto;
        margin-top: 2%;
        font-size: 18px;
        margin-bottom: 2%;
}

label {
    color: white;
    display: block;
    margin-top: 10px;
}

/* media-queries */

@media (max-width: 768px) {
    #logo {
        width: 80px;
    }

    #menu ul li {
        margin-right: 5px;
    }

    #profile-photo img {
        width: 150px;
    }
}

@media (max-width: 480px) {
    header {
        flex-direction: column;
        align-items: flex-start;
    }

    #menu ul li {
        margin-right: 0;
        margin-bottom: 5px;
    }

    #bio {
        flex-direction: column;
        align-items: flex-start;
        padding: 10px;
    }

    #profile-photo img {
        width: 120px;
    }

    #bio-line {
        margin-left: 0;
        margin-top: 10px;
        text-align: center;
    }

    .footer {
        padding: 5px;
    }
}