@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=Grandiflora+One&family=Lato:wght@300&family=Oswald:wght@300&family=PT+Sans&family=Poppins:wght@500&display=swap');

* {
    margin: 0px;
    padding: 1px;
    border: 1px;
}

body {
    font-family: Oswald, sans-serif;
    font-weight: 200;
    font-color: black;
}

/* headings and logo */

h1,
h2 {
    font-family: Poppins, Arial;
    letter-spacing: 2px;
    color: black;
}

#logo {
    display: flex;
    width: 8%;
}

/* Nav links */

header {
    display: flex;
    justify-content: space-between;
}

#menu {
    font-size: 180%;
    margin-top: 15px;
    letter-spacing: 2px;
    display: flex;
    justify-content: space-between;
}

#menu #logo {
    line-height: 150px;
}

#menu li {
    list-style-type: none;
    display: inline-block;
    margin-right: 15px;
}

#menu li a {
    text-decoration: none;
    color: black;
}

ul li {
    transition: transform 0.75s;
}

ul li:hover {
    transform: scale(1.12);
    font-weight: bold;
}

/* Section 1, bio */

#bio {
    height: 100px;
}

#photo {
    padding-top: 20px;
    width: 33%;
    background-color: blue;
}

#bio-line {
    padding-top: 30px;
    width: 60%;
    background-color: red;
}

/* footer */

#footer {
    display: inline-block;
    justify-content: space-between;
    background-color: grey;
}

#instagram, #facebook, #contact {
    display: inline-block;
    justify-content: center;
    margin-top: 2%;
    margin-bottom: 2%;
    margin-right: 35px;
}

#instagram {
    width: 40px;
    height: 40px;
}

#facebook {
    width: 40px;
    height: 40px;

}

#contact{
    width: 39px;
    height: 39px;
}